<!--The content below is only a placeholder and can be replaced.-->

  <app-navbar></app-navbar>

<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <input [(ngModel)]="current.title" type="text" (keydown.enter)='addCourse()'>
  <div *ngIf="!onUpdate" class="btn btn-primary">add</div>
  <div *ngIf="onUpdate" (click)="updateCourse()" class="btn btn-warning">Edit</div>


  <!-- <button class="btn btn-primary" (click) = 'addCourse()' >add </button> -->
  <ul class="list-group">
    <li class="list-group-item" *ngFor = "let course of courses">
      <i class="fa mr-2"  (click)="favorit(course);" [ngClass]="{
        'fa-star' : course.stared,
        'fa-star-o' : !course.stared
      }"></i>

      <!-- votes -->
      <app-votes [like]= "course.vote.likes" [disLike] = "course.vote.disLikes"
      (changeV) = "changeV(course, $event)">
      </app-votes>

      {{course.vote.likes}} : likes
      {{course.vote.disLikes}} : disLikes
      <!-- power -->
      <button (click)="tooglePower(course);" class="btn btn-success btn-sm" [ngClass]="{
          'btn-success' : course.active,
          'btn-danger' : !course.active
        }">
        <i class="fa fa-power-off"></i>
      </button>
       {{ course.title }} ||  {{ course.id }}
      <div class="text-right">
        <button (click)="editCourse(course)" class="btn btn-warning btn-sm mr-1">
          <i class="fa fa-pencil"></i>
        </button>
        <button class="btn btn-danger btn-sm mr-1" (click)='deleteCourse(course )'>
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </li>
  </ul>

  <!-- <div *ngIf="!courses.length" class="alert alert-warning">pas de cours</div> -->

  <div *ngIf="courses.length; then hasCourses else noCourses " class="alert alert-warning">pas de cours</div>

  <!-- templates -->
  <ng-template #hasCourses>
    <div class="alert alert-primary">{{ courses.length}} cours</div>
  </ng-template>
  <ng-template #noCourses>
    <div class="alert alert-warning">pas de cours</div>
  </ng-template>


  <div class="container border">
    <div class="row border">
      <div class="col-md-4">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-8 border">
      <app-content1></app-content1>
      <hr>

      <app-content2></app-content2>
    </div>
  </div>

  <app-posts></app-posts>

  <div class="row border">
    <app-footer></app-footer>
  </div>
</div>

